* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

ul {
  list-style-type: none;
}


div#container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

header {
  grid-column: 1/13;
  background: url('../img/header4.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 57vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

div#importantButtonsMobil {
  display: flex;
  justify-content: space-evenly;
}

button {
  padding: 0.75rem 1.25rem;
  margin: 1rem;
  background: linear-gradient(45deg, rgb(133, 44, 44), rgb(199, 37, 37));
  color: white;
  letter-spacing: 0.25rem;
  border: solid 1px rgba(255, 255, 255, 0.466);
  box-shadow: -1px -5px 10px white;
  border-radius: 0.35rem;
  font-size: 1.65rem;
  font-weight: 500;
  font-family: 'Italianno', cursive;
  transition: all ease-in-out 0.15s;
}

button:hover {
  background: linear-gradient(45deg, rgb(163, 56, 56), rgb(224, 44, 44));
  transition: all ease-in-out 0.15s;
  transform: scale(0.95);
  cursor: pointer;
  border-radius: 0.5rem;
}

#orderBtn {
  background-color: green;
}


img#logo {
  width: 100%;
  margin-top: 1rem;
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0.658);
}


/*--------------MENU------------*/

#menu {
  z-index: 2;
}

#menu-bar {
  width: 45px;
  height: 40px;
  margin: 2rem 0.75rem 1.25rem 1.25rem;
  cursor: pointer;
}

.bar {
  height: 5px;
  width: 100%;
  background-color: rgb(183, 146, 98);
  display: block;
  border-radius: 5px;
  transition: 0.3s ease;
  margin-top: 3px;
}

#bar1 {
  transform: translateY(-4px);
}

#bar3 {
  transform: translateY(4px);
}

.nav {
  transition: 0.3s ease;
  display: none;
}

.nav ul {
  padding: 0 1.35rem;
  
}

.nav li {
  list-style: none;
  padding: 0.65rem 0;
}

.nav li a {
  color: rgb(183, 146, 98);
  font-size: 1.25rem;
  text-decoration: none;
  font-family: 'Playfair Display', serif;
  letter-spacing: 0.15rem;
}

.nav li a:hover {
  font-weight: bold;
}

.menu-bg, #menu {
  top: 0;
  left: 0;
  position: absolute;
}

.menu-bg {
  z-index: 1;
  width: 0;
  height: 0;
  background: radial-gradient(circle, rgba(5, 5, 5, 0.836), rgba(0, 0, 0, 0.918));
  border-radius: 5%;
  transition: 0.75s ease;
  box-shadow: 2px 3px 10px rgb(20, 20, 19);
}

.change {
  display: block;
}

.change .bar {
  background-color: rgb(183, 146, 98);
}

.change #bar1 {
  transform: translateY(10px) rotateZ(-45deg);
}

.change #bar2 {
  opacity: 0;
}

.change #bar3 {
  transform: translateY(-6px) rotateZ(45deg);
}

.change-bg {
  width: 100vw;
  height: 60%;
}

/*
  MAIN <---------------------!!!---------------------->
*/

main {
  background: url('../img/main.jpg');
  grid-column: 1/13;
  background-size: cover;
}

h1 {
  text-align: center;
  margin: 1rem;
  color: rgb(165, 149, 62);
  font-size: 2rem;
  letter-spacing: 0.25rem;
  font-family: 'Italianno', cursive;
}

button#foodMenu {
  display: block;
  margin: 2rem auto;
  background: linear-gradient(45deg, rgb(145, 131, 52), rgb(146, 134, 22));
  box-shadow: -1px -5px 10px rgba(51, 50, 47, 0.384);
}


.displayNoneFood {
  display: none;
  transition: all ease-in-out 0.75s;
}

.foodNamePrice:nth-child(even){
  background: linear-gradient(45deg, rgb(204, 186, 116), rgb(168, 154, 28));
}


div#openHours {
  background: linear-gradient(45deg, rgb(133, 44, 44), rgb(199, 37, 37));
  color: white;
  padding: 1rem;
  font-size: 1.15rem;
  text-align: center;
  box-shadow: -1px -5px 10px rgb(51, 50, 47);
  position: sticky;
  width: 100vw;
}

#openHours li {
  padding: 0.25rem;
}

li#freeDay {
  border: solid 1px white;
  width: 60%;
  text-align: center;
  padding: 0.5rem;
  color: rgb(214, 214, 214);
  margin: 0.75rem auto;
  border-radius: 0.25rem;
  letter-spacing: 0.25rem ;
  box-shadow: -1px -5px 5px rgba(255, 255, 255, 0.39);
}


/*
SPEISEN---------------------------------!!---------------------->
*/

div#foodList {
  background: linear-gradient(45deg, rgba(145, 131, 52, 0.849), rgba(146, 134, 22, 0.877));
  box-shadow: -1px -5px 10px rgba(53, 52, 52, 0.61);
  margin: 1rem 0;
  color: white;
}

#foodList h3 {
  text-align: center;
  padding: 1rem;
  font-size: 1.35rem;
  letter-spacing: 0.15rem;
  cursor: pointer;
  font-weight: 400;
  border-bottom: solid 1px white;
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.658), rgba(0, 0, 0, 0.733));
  transition: all ease-in-out 0.25s;
}

#foodList h3:hover {
  transform: scale(0.98);
  transition: all ease-in-out 0.25s;
  border-radius: 0.25rem;
}

#foodList li {
  padding: 0.15rem 0.5rem;
  font-size: 1.25rem;
  display: flex;
  justify-content: space-between;
}



#foodList p {
  font-size: 1.05rem;
  font-style: italic;
  letter-spacing: 0.15rem;
  border-bottom: solid 1px white;
  padding: 0.35rem 0.75rem;
}
